.add-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  gap: 1px;
  border: none;

  position: absolute;
  width: 214px;
  height: 80px;
  left: 33px;
  top: 379px;

  /* Light/Background/Paper */
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(58, 53, 65, 0.45);
  border-radius: 12px;
}

.add-btn-text {
  width: 82px;
  height: 24px;

  /* Light/Components/Button Medium */
  font-family: ineter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  letter-spacing: 0.4px;
  text-transform: uppercase;

  /* Light/Secondary/Main */
  color: #8a8d93;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
